<!DOCTYPE html>
<html>
  {%load static%}
  <div class="site-footer">
    <div class="inner first">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="widget">
              <p>
                Somos una organización que hacemos tours por distintos lugares
                del país.
              </p>
            </div>
            <div class="widget">
              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-apple"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-google"></span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-2">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a onclick="goToHome4()">Acerca de nosotros</a></li>
                <li><a href="reserva_tour">Reserva un Tour</a></li>
                <li><a href="registro_cliente">Registrate</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="widget">
              <h3 class="heading">Contacto</h3>
              <ul class="list-unstyled quick-info links">
                <li class="email"><a href="#">mail@freewalking.com</a></li>
                <li class="phone"><a href="#">+56 9 88776644</a></li>
                <li class="address">
                  <a href="#">123 Freire, San Bernardo</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="inner dark">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 mb-3 mb-md-0 mx-auto">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . Todos los derechos reservados. &mdash; 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
