<!DOCTYPE html>
{% load static %}
<html lang="es">

<title>Ventana emergente en HTML</title>
<script>
  function mostrarMensaje() {
    alert("★★★ Felicitaciones! Te has registrado exitosamente ★★★");
  }
</script>
</head>

  <header>{%include 'cabe.html'%}</header>

  <body>
    <div class="hero hero-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mx-auto text-center">
            <div class="intro-wrap">
              <h1 class="mb-0">Registrate en FreeWalking</h1>
              <p class="text-white">
                Y accede a múltiples novedades y beneficios que tenemos para tí.<p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="untree_co-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <form action="registro_cliente" method="POST">
              {% csrf_token %}
              <div class="form-group row">
                <label for="dni" class="col-4 col-form-label">dni</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-blind"></i>
                      </div>
                    </div> 
                    <input id="dni" name="dni" type="text" required="required" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-4 col-form-label">Nombre</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-user-circle"></i>
                      </div>
                    </div> 
                    <input id="username" name="username" type="text" required="required" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Apellido Paterno</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-chrome"></i>
                      </div>
                    </div> 
                    <input id="ape_pat" name="ape_pat" type="text" required="required" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ape_mat" class="col-4 col-form-label">Apellido Materno</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-cc-amex"></i>
                      </div>
                    </div> 
                    <input id="ape_mat" name="ape_mat" type="text" required="required" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="genero" class="col-4 col-form-label">Genero</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-street-view"></i>
                      </div>
                    </div> 
                    <input id="genero" name="genero" type="genero" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="contacto" class="col-4 col-form-label">Contacto</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-street-view"></i>
                      </div>
                    </div> 
                    <input id="contacto" name="contacto" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="direccion" class="col-4 col-form-label">Direccion</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-street-view"></i>
                      </div>
                    </div> 
                    <input id="direccion" name="direccion" type="direccion" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-4 col-form-label">email</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-circle"></i>
                      </div>
                    </div> 
                    <input id="email" name="email" type="text" required="required" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_ciudad" class="col-4 col-form-label">id_ciudad</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-home"></i>
                      </div>
                    </div> 
                    <select id="id_ciudad" name="id_ciudad" class="form-control">
                      <option value="">Seleccionar ciudad</option>
                      <!-- Aquí puedes generar dinámicamente las opciones con los valores de la tabla "Ciudad" -->
                      <option value="1">Santiago</option>
                      <option value="2">Valparaiso</option>
                      <option value="3">Viña Del Mar</option>
                      <!-- ... -->
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <button name="submit" type="submit" class="btn btn-primary">AGREGAR CLIENTE</button>
                </div>
              </div>
              </form>
          </div>
          
          <div class="col-lg-5 ml-auto">
            <div class="quick-contact-item d-flex align-items-center mb-4">
              <address class="text text-primary" style="font-size: 12px;">
                ✓✓   Al registrarte podrás acceder a información exclusiva sobre nuestros tours, destinos y actividades. Esto te permitirá estar al tanto de las últimas novedades y nuevas experiencias que ofrecemos.
              </address>
            </div>
            <div class="quick-contact-item d-flex align-items-center mb-4">
              <address class="text text-primary" style="font-size: 12px;">
                ✓✓   Podremos enviarte descuentos y promociones especiales que se adapten a tus intereses y preferencias. Esto te permitirá aprovechar ofertas exclusivas y ahorrar dinero en tus próximas reservas.
              </address>
            </div>
            <div class="quick-contact-item d-flex align-items-center mb-4">
              <address class="text text-primary" style="font-size: 12px;">
                ✓✓   Mediante la suscripción a nuestra web de tours, recibirás notificaciones instantáneas sobre cambios de horarios, actualizaciones importantes y cualquier otra información relevante relacionada con tus reservas. De esta manera, estarás siempre al tanto de cualquier novedad que pueda afectar a tu experiencia de viaje.  
              </address>
            </div>

            <div class="quick-contact-item d-flex align-items-center mb-4">
              <address class="text text-primary" style="font-size: 12px;">
                ✓✓   Tendrás la opción de proporcionar detalles sobre tus preferencias de viaje, intereses y requisitos específicos. Esto nos permitirá personalizar tus experiencias y recomendarte tours y actividades que se ajusten a tus necesidades. Obtendrás recomendaciones adaptadas a tus gustos y podrás descubrir nuevos destinos que quizás no habías considerado previamente.  
              </address>
            </div>

            <div class="quick-contact-item d-flex align-items-center mb-4">
              <address class="text text-primary" style="font-size: 12px;">
                ✓✓   Recuerda que registrarte en nuestra web de tours es completamente gratuito y te brindará numerosos beneficios para mejorar tus futuros viajes.
              </address>
            </div>


          </div>
        </div>
      </div>
    </div>

    <footer>{%include 'footer.html'%}</footer>

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'js/aos.js'%}"></script>
    <script src="{% static 'js/moment.min.js'%}"></script>
    <script src="{% static 'js/daterangepicker.js'%}"></script>

    <script src="{% static 'js/typed.js'%}"></script>

    <script src="{% static 'js/custom.js'%}"></script>
  </body>
</html>
