<!DOCTYPE html>
<html lang="en">
  <head>
    
    {%load static%}

    <div class="py-5 cta-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2 class="mb-2 text-white">
                ¿Quieres saber mas? Agenda un tour con nosotros!
              </h2>
              <p class="mb-4 lead text-white text-white-opacity">
                Tenemos múltiples panoramas para tí
              </p>
              <p class="mb-0">
                <a
                  href="reserva_tour"


                  class="btn btn-outline-white text-white btn-md font-weight-bold"
                  >Haz click aquí!</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
  </head>
</html>