<!DOCTYPE html>

{% load static %}
<html lang="es">
  <header>{%include 'cabe.html'%}</header>
  <body>
    <div class="hero hero-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mx-auto text-center">
            <div class="intro-wrap">
              <h1 class="mb-0">Tours.</h1>
              <p class="text-white">
                Algunos de nuestros tours y puntos de encuentro. Estamos trabajando cada día
                por entregarte nuevas experiencias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section">
      <div class="container">
        <div class="row">

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/hero-slider-1.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Cerro San Cristobal</a></h3>
                    <p class="text-white">Desde $ 2000 CLP</p>
                    <p class="text-white">
                      Cerro y parque en el corazón de Santiago con un mirador que ofrece vistas panorámicas de la ciudad y la Cordillera de Los Andes.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/hero-slider-2.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Cerro Santa Lucia</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    Una colina histórica con hermosos jardines, fuentes y miradores en el centro de Santiago, ideal para disfrutar de vistas de la ciudad.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/moneda.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">La Moneda</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    El palacio presidencial de Chile, un edificio histórico y emblemático que alberga importantes eventos culturales y políticos.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/hero-slider-4.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Casco Historico</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    El centro histórico de Santiago, donde se encuentran la Plaza de Armas y la Catedral Metropolitana, con edificios coloniales y arquitectura impresionante.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/hero-slider-3.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Cordillera de los Andes</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    Una imponente cadena montañosa que atraviesa gran parte de Chile, ofreciendo paisajes impresionantes, deportes de montaña y actividades al aire libre.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/valparaiso.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Valparaíso</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Una ciudad costera pintoresca y colorida, famosa por sus cerros, ascensores históricos, arte callejero y su puerto.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/vinadelmar.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Viña del Mar</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Una ciudad turística en la costa central de Chile, conocida por sus hermosas playas, jardines, casinos y festivales de música.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/bellavista.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Barrio Bellavista</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un colorido barrio bohemio con una vibrante vida nocturna, lleno de bares, restaurantes, tiendas de artesanía y arte callejero.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/italia.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Barrio Italia</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un barrio de moda conocido por su ambiente artístico y su oferta de tiendas de diseño, galerías de arte, cafés y restaurantes con encanto.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/lastarria.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Barrio Lastarria</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un encantador barrio cultural con calles adoquinadas, galerías de arte, cafés y restaurantes acogedores, y una gran oferta de actividades culturales. 
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/cajondelmaipo.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Cajón del Maipo</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un desfiladero y valle ubicado en la Cordillera de Los Andes, que ofrece paisajes impresionantes, ríos, cascadas y la posibilidad de practicar actividades al aire libre.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/farellones.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Farellones</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un centro turístico de invierno en la Cordillera de Los Andes, conocido por sus pistas de esquí y snowboard, así como por sus hermosas vistas panorámicas. 
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/laserena.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">La Serena</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Una ciudad costera en el norte de Chile, que ofrece hermosas playas, arquitectura colonial, una animada vida nocturna y una gran oferta de observación de estrellas.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/7tazas.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Siete Tazas</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Un parque nacional con una serie de hermosas cascadas y pozas naturales, ideal para practicar senderismo, camping y disfrutar de la naturaleza.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/chiloe.jpg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Chiloé</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Una isla ubicada en el sur de Chile, famosa por su rica cultura y hermoso entorno natural. Chiloé se destaca por sus iglesias de madera, consideradas Patrimonio de la Humanidad por la UNESCO.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3">
            <div class="media-1">
              <a href="#" class="d-block mb-3"
                ><img
                  src="{% static 'images/iquique.jpeg'%}"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <div class="d-flex">
                <div>
                  <h3><a href="#">Iquique</a></h3>
                  <p class="text-white">Desde $ 2000 CLP</p>
                  <p class="text-white">
                    <p class="text-white">
                      Una ciudad costera en el norte de Chile, conocida por sus hermosas playas de arena blanca y su historia ligada a la industria del salitre. Además, ofrece actividades como surf, parapente y visitas a lugares históricos como el centro histórico y el Museo Corbeta Esmeralda.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {%include 'sabermas.html'%}

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 class="text-white", class="section-title text-center mb-3">Más Servicios</h2>
            <p class="text-white">
              No solo tenemos unas increibles rutas de tour, si no contamos también con el mejor equipo y modos
              para adaptarnos a las necesidades de nuestros clientes.</p>   
              <p class="text-white"> A su vez extendemos nuestro servicio
              para empresas y/o grupos de mayor número de personas.
            </p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4 order-lg-1">
            <div class="h-100">
              <div class="frame h-100">
                <div
                  class="feature-img-bg h-100"
                  style="background-image: url({% static 'images/freevertical.jpg'%})"
                  ></div>
              </div>
            </div>
          </div>

          <div
            class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1"
          >
            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-house display-4 text-primary"></span>
                <h3>Desde tu Hogar</h3>
                <p  class="mb-0">
                  Reserva las mejores rutas de la region desde la comodidad
                  de tu hogar.
                </p>
              </div>
            </div>

            <div class="feature-1">
              <div class="align-self-center">
                <span class="flaticon-restaurant display-4 text-primary"></span>
                <h3>Restaurantes</h3>
                <p class="mb-0">
                  Disfruta de la mejor gastronomía de nuestros variados destinos.
                </p>
              </div>
            </div>
          </div>

          <div
            class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3"
          >
            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-mail display-4 text-primary"></span>
                <h3>Facil contacto</h3>
                <p class="mb-0">
                  Constantemente estamos mejorando para poder ofrecer la mejor experiencia, por eso estamos dispuestos a escucharte y adaptarnos a tus necesidades.
                </p>
              </div>
            </div>

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="flaticon-phone-call display-4 text-primary"></span>
                <h3>Soporte 24/7</h3>
                <p class="mb-0">
                  Tenemos soporte las 24 horas para atender todas tus dudas y reservas 
                  todos los dias de la semana.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3">
            <div class="service text-center">
              <span  class="icon-paper-plane text-primary"></span>
              <h3 class="text-white">Excelencia en viajes</h3>
              <p class="text-white">
                Presencia los mejores tours de la region.
              </p>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="service text-center text-primary">
              <span class="icon-tag"></span>
              <h3 class="text-white">Descubre lo mejor</h3>
              <p class="text-white">
                Los mejores paisajes y gastronomia de la region
              </p>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="service text-center text-primary">
              <span  class="icon-user"></span>
              <h3 class="text-white">Momentos para toda la vida</h3>
              <p class="text-white">
                Vive momentos inolvidables, gracias a la rica cultura.
              </p>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="service text-center text-primary">
              <span class="icon-support"></span>
              <h3 class="text-white">Alegria en tu viaje</h3>
              <p class="text-white">
                Con los mejores servicios de tour como bus de 2 pisos, caminatas
                por los mejores lugares del país.
            </div>
          </div>
        </div>
      </div>
    </div>



    <footer>{%include 'footer.html'%}</footer>

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'js/aos.js'%}"></script>
    <script src="{% static 'js/moment.min.js'%}"></script>
    <script src="{% static 'js/daterangepicker.js'%}"></script>

    <script src="{% static 'js/typed.js'%}"></script>

    <script src="{% static 'js/custom.js'%}"></script>
  </body>
</html>
