{% extends '../index_master.html'%} {% block content %}
<div class="right_col" role="main">
  <h2>Eliminar Usuarios</h2>
  <form action="eliminar" method="POST">
    {% csrf_token %}

    <div class="form-group row">
      <label for="nombre" class="col-4 col-form-label">ID usuario</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </div>
          </div>

          <select id="id_usuario" name="id_usuario">
            {% for u in usuarios %}
            <option value="{{ u.id_usuario }}" {% if u.id_usuario == usuarios.id_usuario %}selected{% endif %}>
              {{ u.id_usuario }} - {{ u.username }} -{{ u.mail }}
          </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-danger">
          ELIMINAR USUARIO
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
